.error-block {margin-top: 20px;}

.high-priority {color: red;}
.normal-priority {color: yellow;}
.low-priority {color: green;}

.filter-wrapper {margin-bottom: 10px;}

.filter-title {padding: 0;}

.alert-msg {margin-top: 20px;}

.description-task {font-size: 20px;}

